.divImgCard{
    width: 100%;
    height: 300px;/*mismo tamaño para las imagenes en card*/
    overflow: hidden; /*Sirve para el tamaño de la imagen aumenta el tamaño del div se mantiene igual*/
    border-radius: 5px 5px 0 0;
}

.imgCard {
    width: 100%;
    height: 100%;
    transition: .4s ease; /*4segundo velocidad continua*/
    object-fit: cover; /*evitar que se vea alargadeo o aplastado*/
    object-position: center;
    aspect-ratio: 1 /1; /*Vuelco la imagen cuadrada para que todas queden iguales*/
}

.imgCard:hover{
    transform: scale(1.05);
}

.cardProd{
    margin: 5px 0px 5px 0px;
}


.cardProd:hover{
    box-shadow: 0px 2px 5px rgba(0,0,0, .2);
}

.divBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnCardCarrito{
    font-size: 18px;
    margin-top: 10px;
    white-space: nowrap;
    border-radius: 16px;
    font-weight: bold;
    width: 100%;
    max-width: 700px;
}

.btnFinalizarCompra{
    white-space: nowrap;
}

.textCard{
    text-align: left;
}

.textDescripcion{
    font-size: 15px;
}