.cardComoLlegar {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1em;
  border: 1px solid #817e7e;
  margin: 1em;
  padding: 1em;
}

.cardComoLlegar img {
  height: 25%;
  width: fit-content;
}
