.card {
  flex: 1;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  border-radius: 1em;
  border: 1px solid lightgrey;

  margin: 1em;

  padding: 1em;

  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0px 5px 10px lightgrey; /* Sombra al pasar el cursor */
}
.card img {
  height: 25%;
  width: fit-content;
}
.card p {
  text-align: center;
}