.CardComoLlegar {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1em;
  border: 1px solid #000;
  background-color: #eeeeee;
  margin: 1em;
  padding: 1em;
}

.CardComoLlegar img {
  height: 25%;
  width: fit-content;
}
