.cardPrincipal {
  max-width: 1300px;
  margin: 10px auto;
}

@media (max-width: 768px) {
  .cardPrincipal {
    max-width: 95%; /* ocupa casi toda la pantalla en celulares */
  }
}

.divCardBody{
    padding: 0.75rem 1rem;
}

.divImgCardCarrito{
    width: 80px;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
}

.imgCardCarrito {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover; /*evitar que se vea alargadeo o aplastado*/
    aspect-ratio: 1 /1; /*Vuelco la imagen cuadrada para que todas queden iguales*/
}

.textCardCarrito{
    padding-left: 10px;
}

.textCardCarrito h5 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2; 
}

.textCardCarrito p{
    margin: 2px 0;
    font-size: 0.85rem;
    line-height: 1.2;
}

.contadorCarrito {
    display: flex;
    align-items: center;
}

.precioCardCarrito{
    white-space: nowrap;
    margin-top: 0;
}

.contadorCarrito span{
    margin: 0 6px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.precioCardCarrito p {
    margin: 2px 0;
    font-size: 0.85rem;
    line-height: 1.2;
    text-align: right;
}
