.colorCarrito{
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.continuarComprando{
    margin: 25px 0 25px 190px;
}

.divLogoCompra{
    padding-top: 25px;
}

.logoCompra{
    font-size: 100px;
    color: rgb(99, 101, 105);
}

.btnVaciarCarrito{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnFinalizarCompra{
    white-space: nowrap;
    width: 100%;
}

.tituloResumen{
    margin-top: -20px;
    margin-bottom: 15px;
}

.productosPedido p{
    margin: 2px 0;
    font-size: 0.85rem;
    line-height: 1;
    padding: 10px 10px 5px 5px;
}

.totalPedido{
    margin-top: 10px;
    border-top: 1px solid rgba(211, 211, 211, 0.582);
}

.totalPedido div{
    margin-top: 10px;
}

.cardPedido {
  border: 1px solid rgba(165, 160, 160, 0.603);
  border-radius: 12px;
  padding: 25px 20px;
  max-width: 320px;
  margin-right: 40px;
  margin-top: 20px;
  height: fit-content;
}


.cardPedido p {
  margin: 0;
}


@media (max-width: 850px) {
  .cardPedido {
    max-width: 100%;
    margin: 20px 40px 0 40px;
  }

  .btnFinalizarCompra {
    white-space: wrap;
  }

  .continuarComprando{
    margin-left: auto;
    justify-content: center;
  }
}