.titulo,
.texto,
.subtituloComoLlegar {
  text-align: center;
}

.body{
  background-color: black;
}

.texto {
  text-align: center;
}

.contenedorFormularios {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10%;
  margin-top: 40px;
}

.contenedorIzq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  max-width: 500px;
}

.contenedorDer {
  max-width: 500px;
  width: 100%;
}

.contenedorComoLlegar {
  padding: 2%;
}

@media screen and (max-width: 930px) {
  .contenedorFormularios {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contenedorIzq {
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    max-width: 100%; 
    gap: 15px;
  }

  .contenedorDer {
    max-width: 100%;
    width: 100%;
  }
}