.FlexContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
Section img {
    width: 50%;
    height: auto;
    display: block;
    object-fit: contain; /* Asegura que la imagen no se deforme */
    max-width: 100%;
    max-height: 100%;
}
.PrimerSeccion{
    display: flex;
    background-color: beige;
}
.TercerSeccion{
    background-color: black;
    color: white;
}
