.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: antiquewhite;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav ul {
  color: black;
  text-decoration: none;
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}
