.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav ul {
  text-decoration: none;
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}


.hamburger {
  color: var(--color-texto);
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

@media (max-width: 768px) {
  .menu {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    background-color: var(--color-fondo);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .menu.active {
    display: flex !important;
  }

  .hamburger {
    display: block;
  }
}